@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body{
	background-image: url(../img/form-fond.jpg);
	background-size: 100vw 100vh; /*Ajustable 
								    a la ventana*/
	background-attachment: fixed;
	margin: 0;
	font-family: 'Lato', sans-serif;

}
form{
	width: 450px;
	margin: auto;
	background: rgba(0, 0, 0, .4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}
h2{
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
	font-family: 'Lato', sans-serif;
}
textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton{
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	padding: 15px;
	
}
#boton:hover{
	cursor: pointer;
}
@media (max-width: 480px){
	form{
		width: 100%;
	}
}

/*----------*/
h1{
	text-align: center;
	color: #fff;
	font-size: 40px;
	background: rgba(0,0,0,0.4);
	margin-top: 25px;
}